
                button {
                padding: 0.5em 0.7em;
                border: 1px solid #8d8d8d;
                background-color: white;
                font-size: 1em;
                }
    
                .modal {
                display: block;
                position: fixed;
                z-index: 1000;
                }
    
                .modal-backdrop {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0);
                }
    
                .modal-body {
                position: fixed;
                top: 40%;
                bottom: 5%;
                right: 3%;
                left: 3%;
                padding: 2em 3em;
                background-color: rgba(219, 212, 212, 0.973);
                overflow:auto;
              
                }
    
                .modal-close {
                cursor: pointer;     }     
                        



#par-fav-star {
  display: inline; 
  color:rgb(219, 45, 45);
  vertical-align: super;
}

#fav-star {
  font-size: 2em;
}

#add_review {
  background-color: rgb(234,54,34);
  font-size: 1.1em;
  border-radius: 0.5em;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

#breadcrumb {
  width: auto;
}


.inside #maincontent {
  margin-top: 95px;
}


.inside #map-container {
  position: static;
  height: 60vh;
  width: auto;

}

#restaurant-img, #restaurant-cuisine, #reviews-container {
  width: 100%;
}

#reviews-container h3 {
  text-align: center;
  background-color: var(--main-color);
  color:#fff;
  font-size: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  padding: 7px;
  margin-bottom: 0;

}

#restaurant-container{
  padding: 0;
  width: 100%;

}
nav, h1 {
  padding-top: 5px;
}

ol,li{
  font-size: 1.1em;
}

.inside #footer {
  position:static;
  width: auto;
}

#reviews-list li {
  padding: 0%;
  width: 98%;
  margin:auto;
  margin-bottom: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

#reviews-list li p {
padding-left: 20px;
padding-right: 20px;
font-size: 1.2em;
}

#restaurant-hours {
  margin: auto;
  padding-bottom: 1em;
}



#review-list, #reviews-container {
  padding: 0;
}

@media screen and (min-width:750px) {
  #maincontent {
    display: flex;
    flex-wrap: wrap;
  }

  .inside #map-container {
    width:48%;
    height: auto;
  }

  #restaurant-container {
    width: 40%;
    flex-grow:1;
  }
}

@media screen and (min-width:1000px) {

  /* nav,body,header {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  } */

}
