#restaurants-list li {
  width: 100%;
  margin:0;
  padding: 0;
}

.filter-options {
  display: flex;
  justify-content: space-around;

}

.filter-options h2 {
  font-size: 1.2em;
  letter-spacing:0.1em;

}


select {
  flex-basis: 30%;
}
