#breadcrumb {
  width: auto;
}


.inside #maincontent {
  margin-top: 142px;
}


.inside #map-container {
  position: static;
  height: 60vh;
  width: auto;

}

#restaurant-img, #restaurant-cuisine, #reviews-container {
  width: 100%;
}

#reviews-container h2 {
  text-align: center;
}

#restaurant-container{
  padding: 0;
  width: 100%;

}
nav, h1 {
  padding-top: 5px;
}

ul,li{
  font-size: 1.1em;
}

.inside #footer {
  position:static;
  width: auto;
}

#reviews-list li {
  padding: 0%;
  width: 98%;
  margin:auto;
}

#reviews-list li p {
padding-left: 20px;
padding-right: 20px;
}

#restaurant-hours {
  margin: auto;
  padding-bottom: 1em;
}



#review-list, #reviews-container {
  padding: 0;
}

@media screen and (min-width:750px) {
  #maincontent {
    display: flex;
    flex-wrap: wrap;
  }

  .inside #map-container {
    width:48%;
    height: auto;
  }

  #restaurant-container {
    width: 40%;
    flex-grow:1;
  }




}
