#breadcrumb {
  width: 100%;
}


.inside #maincontent {
  margin-top: 190px;
}


.inside #map-container {
  position: static;
  height: 60vh;
  width: auto;

}

#restaurant-img, #restaurant-cuisine, #reviews-container {
  width: 100%;
}

#restaurant-container{

  padding: 0;
  width: 100%;
}
nav, h1 {
  padding: 3px;
}

ul,li{
  font-size: 1.1em;
}

.inside #footer {
  position:static;
  width: 100%;
}

#reviews-list li {
  padding: 0%;
  width: 98%;
  margin:auto;
}


#review-list, #reviews-container {
  padding: 0;
}
